body {
  background: #111;
  color: #eee;
  font-family: 'Poppins', sans-serif;
}

.about-content{
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.text{
  padding:30px;
  display:flex;
  max-width:900px;
  flex-direction: column;
  box-shadow: rgba(236, 234, 233, 0.25) 0px 54px 55px, rgba(169, 150, 150, 0.12) 0px -12px 30px, rgba(233, 218, 218, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(48, 122, 183, 0.09) 0px -3px 5px;                                 
}


.last-text{
  margin-top:20px;
  text-align: right;
}

.about-pic{
  width:55px;
  height:60px;
}

.back{
  color:white;
  text-decoration-line: none;
}

.back:hover{
  color:rgb(234, 17, 234);
  font-weight: bold;
  margin:0px 5px;
}